<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysDictionariesMapper">
    
    <resultMap type="SysDictionaries" id="SysDictionariesResult">
        <result property="id"    column="id"    />
        <result property="ukey"    column="ukey"    />
        <result property="uvalue"    column="uvalue"    />
        <result property="info"    column="info"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectSysDictionariesVo">
        select id, ukey, uvalue, info, create_time, update_time from sys_dictionaries
    </sql>

    <select id="selectSysDictionariesList" parameterType="SysDictionaries" resultMap="SysDictionariesResult">
        <include refid="selectSysDictionariesVo"/>
        <where>  
            <if test="ukey != null  and ukey != ''"> and ukey = #{ukey}</if>
            <if test="uvalue != null  and uvalue != ''"> and uvalue = #{uvalue}</if>
            <if test="info != null  and info != ''"> and info = #{info}</if>
        </where>
    </select>
    
    <select id="selectSysDictionariesById" parameterType="Long" resultMap="SysDictionariesResult">
        <include refid="selectSysDictionariesVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSysDictionaries" parameterType="SysDictionaries" useGeneratedKeys="true" keyProperty="id">
        insert into sys_dictionaries
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ukey != null and ukey != ''">ukey,</if>
            <if test="uvalue != null and uvalue != ''">uvalue,</if>
            <if test="info != null">info,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ukey != null and ukey != ''">#{ukey},</if>
            <if test="uvalue != null and uvalue != ''">#{uvalue},</if>
            <if test="info != null">#{info},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSysDictionaries" parameterType="SysDictionaries">
        update sys_dictionaries
        <trim prefix="SET" suffixOverrides=",">
            <if test="ukey != null and ukey != ''">ukey = #{ukey},</if>
            <if test="uvalue != null and uvalue != ''">uvalue = #{uvalue},</if>
            <if test="info != null">info = #{info},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysDictionariesById" parameterType="Long">
        delete from sys_dictionaries where id = #{id}
    </delete>

    <delete id="deleteSysDictionariesByIds" parameterType="String">
        delete from sys_dictionaries where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>