<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TBannerMapper">
    
    <resultMap type="TBanner" id="TBannerResult">
        <result property="id"    column="id"    />
        <result property="bannerUrl"    column="banner_url"    />
        <result property="linkUrl"    column="link_url"    />
        <result property="bannerType"    column="banner_type"    />
        <result property="global"    column="global"    />
        <result property="createTime"    column="create_time"    />
        <result property="createUser"    column="create_user"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateUser"    column="update_user"    />
    </resultMap>

    <sql id="selectTBannerVo">
        select id, banner_url, link_url, banner_type, global, create_time, create_user, update_time, update_user from t_banner
    </sql>

    <select id="selectTBannerList" parameterType="TBanner" resultMap="TBannerResult">
        <include refid="selectTBannerVo"/>
        <where>  
            <if test="bannerUrl != null  and bannerUrl != ''"> and banner_url = #{bannerUrl}</if>
            <if test="linkUrl != null  and linkUrl != ''"> and link_url = #{linkUrl}</if>
            <if test="bannerType != null  and bannerType != ''"> and banner_type = #{bannerType}</if>
            <if test="global != null  and global != ''"> and global = #{global}</if>
            <if test="createUser != null  and createUser != ''"> and create_user = #{createUser}</if>
            <if test="updateUser != null  and updateUser != ''"> and update_user = #{updateUser}</if>
        </where>
    </select>
    
    <select id="selectTBannerById" parameterType="String" resultMap="TBannerResult">
        <include refid="selectTBannerVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTBanner" parameterType="TBanner">
        insert into t_banner
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="bannerUrl != null">banner_url,</if>
            <if test="linkUrl != null">link_url,</if>
            <if test="bannerType != null">banner_type,</if>
            <if test="global != null">global,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createUser != null">create_user,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateUser != null">update_user,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="bannerUrl != null">#{bannerUrl},</if>
            <if test="linkUrl != null">#{linkUrl},</if>
            <if test="bannerType != null">#{bannerType},</if>
            <if test="global != null">#{global},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateUser != null">#{updateUser},</if>
         </trim>
    </insert>

    <update id="updateTBanner" parameterType="TBanner">
        update t_banner
        <trim prefix="SET" suffixOverrides=",">
            <if test="bannerUrl != null">banner_url = #{bannerUrl},</if>
            <if test="linkUrl != null">link_url = #{linkUrl},</if>
            <if test="bannerType != null">banner_type = #{bannerType},</if>
            <if test="global != null">global = #{global},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTBannerById" parameterType="String">
        delete from t_banner where id = #{id}
    </delete>

    <delete id="deleteTBannerByIds" parameterType="String">
        delete from t_banner where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>