<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TExchangeRecordMapper">
    
    <resultMap type="TExchangeRecord" id="TExchangeRecordResult">
        <result property="id"    column="id"    />
        <result property="memberId"    column="member_id"    />
        <result property="currency"    column="currency"    />
        <result property="currencyTarget"    column="currency_target"    />
        <result property="quantity"    column="quantity"    />
        <result property="afterExchangeQuantity"    column="after_exchange_quantity"    />
        <result property="createTime"    column="create_time"    />
        <result property="uuid" column="uuid"/>
        <result property="phone" column="phone"/>
    </resultMap>

    <sql id="selectTExchangeRecordVo">
        select a.id, a.member_id, a.currency, a.currency_target, a.quantity, a.after_exchange_quantity, a.create_time,
               b.uuid,b.phone
        from t_exchange_record a inner join t_member b on a.member_id = b.id
    </sql>

    <select id="selectTExchangeRecordList" parameterType="TExchangeRecord" resultMap="TExchangeRecordResult">
        <include refid="selectTExchangeRecordVo"/>
        <where>  
            <if test="memberId != null  and memberId != ''"> and a.member_id = #{memberId}</if>
            <if test="currency != null  and currency != ''"> and a.currency = #{currency}</if>
            <if test="currencyTarget != null  and currencyTarget != ''"> and a.currency_target = #{currencyTarget}</if>
            <if test="quantity != null "> and a.quantity = #{quantity}</if>
            <if test="afterExchangeQuantity != null "> and a.after_exchange_quantity = #{afterExchangeQuantity}</if>
            <if test="uuid != null  and uuid != ''"> and b.uuid = #{uuid}</if>
            <if test="phone != null  and phone != ''"> and b.phone = #{phone}</if>
            <if test="sysIds != null and sysIds != '' and sysIds.size>0">
                and b.sys_id in
                <foreach item="item" index="index" collection="sysIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
    
    <select id="selectTExchangeRecordById" parameterType="Long" resultMap="TExchangeRecordResult">
        <include refid="selectTExchangeRecordVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTExchangeRecord" parameterType="TExchangeRecord" useGeneratedKeys="true" keyProperty="id">
        insert into t_exchange_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="memberId != null and memberId != ''">member_id,</if>
            <if test="currency != null">currency,</if>
            <if test="currencyTarget != null">currency_target,</if>
            <if test="quantity != null">quantity,</if>
            <if test="afterExchangeQuantity != null">after_exchange_quantity,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="memberId != null and memberId != ''">#{memberId},</if>
            <if test="currency != null">#{currency},</if>
            <if test="currencyTarget != null">#{currencyTarget},</if>
            <if test="quantity != null">#{quantity},</if>
            <if test="afterExchangeQuantity != null">#{afterExchangeQuantity},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateTExchangeRecord" parameterType="TExchangeRecord">
        update t_exchange_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="memberId != null and memberId != ''">member_id = #{memberId},</if>
            <if test="currency != null">currency = #{currency},</if>
            <if test="currencyTarget != null">currency_target = #{currencyTarget},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="afterExchangeQuantity != null">after_exchange_quantity = #{afterExchangeQuantity},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTExchangeRecordById" parameterType="Long">
        delete from t_exchange_record where id = #{id}
    </delete>

    <delete id="deleteTExchangeRecordByIds" parameterType="String">
        delete from t_exchange_record where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>