<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TLeverMapper">
    
    <resultMap type="TLever" id="TLeverResult">
        <result property="id"    column="id"    />
        <result property="lever"    column="lever"    />
        <result property="leverDesc"    column="lever_desc"    />
        <result property="pairsName"    column="pairs_name"    />
        <result property="handsMax"    column="hands_max"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTLeverVo">
        select id, lever, lever_desc, pairs_name, hands_max, create_time, update_time from t_lever
    </sql>

    <select id="selectTLeverList" parameterType="TLever" resultMap="TLeverResult">
        <include refid="selectTLeverVo"/>
        <where>  
            <if test="lever != null "> and lever = #{lever}</if>
            <if test="leverDesc != null  and leverDesc != ''"> and lever_desc = #{leverDesc}</if>
            <if test="pairsName != null  and pairsName != ''"> and pairs_name like concat('%', #{pairsName}, '%')</if>
            <if test="handsMax != null "> and hands_max = #{handsMax}</if>
        </where>
    </select>
    
    <select id="selectTLeverById" parameterType="String" resultMap="TLeverResult">
        <include refid="selectTLeverVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTLever" parameterType="TLever">
        insert into t_lever
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="lever != null">lever,</if>
            <if test="leverDesc != null">lever_desc,</if>
            <if test="pairsName != null">pairs_name,</if>
            <if test="handsMax != null">hands_max,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="lever != null">#{lever},</if>
            <if test="leverDesc != null">#{leverDesc},</if>
            <if test="pairsName != null">#{pairsName},</if>
            <if test="handsMax != null">#{handsMax},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateTLever" parameterType="TLever">
        update t_lever
        <trim prefix="SET" suffixOverrides=",">
            <if test="lever != null">lever = #{lever},</if>
            <if test="leverDesc != null">lever_desc = #{leverDesc},</if>
            <if test="pairsName != null">pairs_name = #{pairsName},</if>
            <if test="handsMax != null">hands_max = #{handsMax},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTLeverById" parameterType="String">
        delete from t_lever where id = #{id}
    </delete>

    <delete id="deleteTLeverByIds" parameterType="String">
        delete from t_lever where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>