<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TOtcTypeConfigMapper">
    
    <resultMap type="TOtcTypeConfig" id="TOtcTypeConfigResult">
        <result property="id"    column="id"    />
        <result property="type"    column="type"    />
        <result property="min"    column="min"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTOtcTypeConfigVo">
        select id, type, min, create_time, update_time from t_otc_type_config
    </sql>

    <select id="selectTOtcTypeConfigList" parameterType="TOtcTypeConfig" resultMap="TOtcTypeConfigResult">
        <include refid="selectTOtcTypeConfigVo"/>
        <where>  
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="min != null  and min != ''"> and min = #{min}</if>
        </where>
    </select>
    
    <select id="selectTOtcTypeConfigById" parameterType="Long" resultMap="TOtcTypeConfigResult">
        <include refid="selectTOtcTypeConfigVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTOtcTypeConfig" parameterType="TOtcTypeConfig" useGeneratedKeys="true" keyProperty="id">
        insert into t_otc_type_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="type != null">type,</if>
            <if test="min != null">min,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="type != null">#{type},</if>
            <if test="min != null">#{min},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateTOtcTypeConfig" parameterType="TOtcTypeConfig">
        update t_otc_type_config
        <trim prefix="SET" suffixOverrides=",">
            <if test="type != null">type = #{type},</if>
            <if test="min != null">min = #{min},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTOtcTypeConfigById" parameterType="Long">
        delete from t_otc_type_config where id = #{id}
    </delete>

    <delete id="deleteTOtcTypeConfigByIds" parameterType="String">
        delete from t_otc_type_config where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>