<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TOtcOrderPriceMapper">
    
    <resultMap type="TOtcOrderPrice" id="TOtcOrderPriceResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="storeId"    column="store_id"    />
        <result property="orderId"    column="order_id"    />
        <result property="userDirection"    column="user_direction"    />
        <result property="storeDirection"    column="store_direction"    />
        <result property="num"    column="num"    />
        <result property="price"    column="price"    />
        <result property="totalPrice"    column="total_price"    />
        <result property="payType"    column="pay_type"    />
        <result property="status"    column="status"    />
        <result property="currency"    column="currency"    />
        <result property="appealStatus"    column="appeal_status"    />
        <result property="appealUserId"    column="appeal_user_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="payMccId" column="pay_mcc_id"/>
        <result property="userPhone"    column="user_phone"    />
        <result property="userMail"    column="user_mail"    />
        <result property="userUuid"    column="user_uuid"    />
        <result property="lastUserPhone" column="lastUserPhone"/>
        <result property="useType" column="use_type"/>
    </resultMap>

    <sql id="selectTOtcOrderPriceVo">
        select
            a.id, a.user_id, a.store_id, a.order_id, a.user_direction,
            a.store_direction, a.num, a.price, a.total_price, a.pay_type,
            a.status, a.currency, a.appeal_status, a.appeal_user_id,
            a.create_time, a.update_time,a.pay_mcc_id,b.phone user_phone,b.mail user_mail,b.uuid user_uuid,
            c.phone as lastUserPhone,b.use_type
        from t_otc_order_price a inner join t_member b on a.user_id = b.id
        left join t_member c on c.id = b.wel_member
    </sql>

    <select id="selectTOtcOrderPriceList" parameterType="TOtcOrderPrice" resultMap="TOtcOrderPriceResult">
        <include refid="selectTOtcOrderPriceVo"/>
        <where>  
            <if test="userId != null  and userId != ''"> and a.user_id = #{userId}</if>
            <if test="storeId != null  and storeId != ''"> and a.store_id = #{storeId}</if>
            <if test="orderId != null  and orderId != ''"> and a.order_id = #{orderId}</if>
            <if test="userDirection != null  and userDirection != ''"> and a.user_direction = #{userDirection}</if>
            <if test="storeDirection != null  and storeDirection != ''"> and a.store_direction = #{storeDirection}</if>
            <if test="num != null "> and a.num = #{num}</if>
            <if test="price != null "> and a.price = #{price}</if>
            <if test="totalPrice != null "> and a.total_price = #{totalPrice}</if>
            <if test="payType != null  and payType != ''"> and a.pay_type = #{payType}</if>
            <if test="status != null  and status != ''"> and a.status = #{status}</if>
            <if test="currency != null  and currency != ''"> and a.currency = #{currency}</if>
            <if test="appealStatus != null  and appealStatus != ''"> and a.appeal_status = #{appealStatus}</if>
            <if test="appealUserId != null  and appealUserId != ''"> and a.appeal_user_id = #{appealUserId}</if>
            <if test="userPhone != null  and userPhone != ''"> and b.phone = #{userPhone}</if>
            <if test="userMail != null  and userMail != ''"> and b.mail = #{userMail}</if>
            <if test="userUuid != null  and userUuid != ''"> and b.uuid = #{userUuid}</if>
            <if test="lastUserPhone != null  and lastUserPhone != ''"> and c.phone = #{lastUserPhone}</if>
            <if test="sysIds != null and sysIds != ''">
                and b.sys_id in
                <foreach item="item" index="index" collection="sysIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        order by a.create_time desc
    </select>
    
    <select id="selectTOtcOrderPriceById" parameterType="String" resultMap="TOtcOrderPriceResult">
        <include refid="selectTOtcOrderPriceVo"/>
        where a.id = #{id}
    </select>
        
    <insert id="insertTOtcOrderPrice" parameterType="TOtcOrderPrice">
        insert into t_otc_order_price
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null and userId != ''">user_id,</if>
            <if test="storeId != null">store_id,</if>
            <if test="orderId != null">order_id,</if>
            <if test="userDirection != null">user_direction,</if>
            <if test="storeDirection != null">store_direction,</if>
            <if test="num != null">num,</if>
            <if test="price != null">price,</if>
            <if test="totalPrice != null">total_price,</if>
            <if test="payType != null">pay_type,</if>
            <if test="status != null">status,</if>
            <if test="currency != null and currency != ''">currency,</if>
            <if test="appealStatus != null">appeal_status,</if>
            <if test="appealUserId != null">appeal_user_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null and userId != ''">#{userId},</if>
            <if test="storeId != null">#{storeId},</if>
            <if test="orderId != null">#{orderId},</if>
            <if test="userDirection != null">#{userDirection},</if>
            <if test="storeDirection != null">#{storeDirection},</if>
            <if test="num != null">#{num},</if>
            <if test="price != null">#{price},</if>
            <if test="totalPrice != null">#{totalPrice},</if>
            <if test="payType != null">#{payType},</if>
            <if test="status != null">#{status},</if>
            <if test="currency != null and currency != ''">#{currency},</if>
            <if test="appealStatus != null">#{appealStatus},</if>
            <if test="appealUserId != null">#{appealUserId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateTOtcOrderPrice" parameterType="TOtcOrderPrice">
        update t_otc_order_price
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null and userId != ''">user_id = #{userId},</if>
            <if test="storeId != null">store_id = #{storeId},</if>
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="userDirection != null">user_direction = #{userDirection},</if>
            <if test="storeDirection != null">store_direction = #{storeDirection},</if>
            <if test="num != null">num = #{num},</if>
            <if test="price != null">price = #{price},</if>
            <if test="totalPrice != null">total_price = #{totalPrice},</if>
            <if test="payType != null">pay_type = #{payType},</if>
            <if test="status != null">status = #{status},</if>
            <if test="currency != null and currency != ''">currency = #{currency},</if>
            <if test="appealStatus != null">appeal_status = #{appealStatus},</if>
            <if test="appealUserId != null">appeal_user_id = #{appealUserId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTOtcOrderPriceById" parameterType="String">
        delete from t_otc_order_price where id = #{id}
    </delete>

    <delete id="deleteTOtcOrderPriceByIds" parameterType="String">
        delete from t_otc_order_price where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>