<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TPledgeOrderDetailMapper">
    
    <resultMap type="TPledgeOrderDetail" id="TPledgeOrderDetailResult">
        <result property="id"    column="id"    />
        <result property="orderId"    column="order_id"    />
        <result property="type"    column="type"    />
        <result property="money"    column="money"    />
        <result property="pledgeType"    column="pledge_type"    />
        <result property="pledgePrice"    column="pledge_price"    />
        <result property="creationTime"    column="creation_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="pledgeName"    column="pledge_name"    />
    </resultMap>

    <sql id="selectTPledgeOrderDetailVo">
        select id, order_id, type, money, pledge_type, pledge_price, creation_time, update_time, pledge_name from t_pledge_order_detail
    </sql>

    <select id="selectTPledgeOrderDetailList" parameterType="TPledgeOrderDetail" resultMap="TPledgeOrderDetailResult">
        <include refid="selectTPledgeOrderDetailVo"/>
        <where>  
            <if test="orderId != null  and orderId != ''"> and order_id = #{orderId}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="money != null "> and money = #{money}</if>
            <if test="pledgeType != null  and pledgeType != ''"> and pledge_type = #{pledgeType}</if>
            <if test="pledgePrice != null "> and pledge_price = #{pledgePrice}</if>
            <if test="creationTime != null "> and creation_time = #{creationTime}</if>
            <if test="pledgeName != null  and pledgeName != ''"> and pledge_name like concat('%', #{pledgeName}, '%')</if>
        </where>
    </select>
    
    <select id="selectTPledgeOrderDetailById" parameterType="String" resultMap="TPledgeOrderDetailResult">
        <include refid="selectTPledgeOrderDetailVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTPledgeOrderDetail" parameterType="TPledgeOrderDetail">
        insert into t_pledge_order_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="orderId != null">order_id,</if>
            <if test="type != null">type,</if>
            <if test="money != null">money,</if>
            <if test="pledgeType != null">pledge_type,</if>
            <if test="pledgePrice != null">pledge_price,</if>
            <if test="creationTime != null">creation_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="pledgeName != null">pledge_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="orderId != null">#{orderId},</if>
            <if test="type != null">#{type},</if>
            <if test="money != null">#{money},</if>
            <if test="pledgeType != null">#{pledgeType},</if>
            <if test="pledgePrice != null">#{pledgePrice},</if>
            <if test="creationTime != null">#{creationTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="pledgeName != null">#{pledgeName},</if>
         </trim>
    </insert>

    <update id="updateTPledgeOrderDetail" parameterType="TPledgeOrderDetail">
        update t_pledge_order_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="type != null">type = #{type},</if>
            <if test="money != null">money = #{money},</if>
            <if test="pledgeType != null">pledge_type = #{pledgeType},</if>
            <if test="pledgePrice != null">pledge_price = #{pledgePrice},</if>
            <if test="creationTime != null">creation_time = #{creationTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="pledgeName != null">pledge_name = #{pledgeName},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTPledgeOrderDetailById" parameterType="String">
        delete from t_pledge_order_detail where id = #{id}
    </delete>

    <delete id="deleteTPledgeOrderDetailByIds" parameterType="String">
        delete from t_pledge_order_detail where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>